{% extends "base.html" %}


{% block content %}
    <div class="navbar-banner layout-no-margin-top">
        <div class="banner-container">
            <p>
                <input class="form-control" type="text" id="username" placeholder="用户名">
            </p>
            <p>
                <input class="form-control" type="text" id="email" placeholder="邮箱">
            </p>
            <p>
                <input class="form-control" type="text" id="password" placeholder="密码">
            </p>

            <p>
                <input class="btn btn-primary btn-user btn-block" id="submit" type="button" value="提交">
            </p>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="/static/static/jquery/2.2.4/jquery.min.js"></script>
    <script>
{#        get请求，判断用户是否存在#}
{#        $("#name").click(#}
{#            function () {#}
{#                var value=$("#username").val();#}
{#                var url="/ajax_user/?username="+value#}
{#                $.ajax({#}
{#                    url: url,#}
{#                    type: "get",#}
{#                    data: "",#}
{#                    success:function (data) {#}
{#                        if (data["is_user"]){#}
{#                            content="用户存在"#}
{#                        }else {#}
{#                            content="未知用户"#}
{#                        }#}
{#                        $("#error_message").text(content)#}
{#                    },#}
{#                    error:function (error) {#}
{#                        console.log(error)#}
{#                    }#}
{#                })#}
{#            }#}
{#        )#}

{#        post请求，添加数据到用户表#}
        $("#submit").click(
            function () {
                var username=$("#username").val();
                var email=$("#email").val();
                var password=$("#password").val();
                var send_data={"username":username,"email":email,"password":password};
                $.ajax({
                    url:"/ajax_user/",
                    type:"post",
                    data:send_data,
                    success:function (data) {
                        if (data["is_user"]){
                            window.location.href="/";
                            alert("添加成功")
                        }
                    },
                    error:function (error) {
                        console.log(error)
                    }
                })
            }
        )
    </script>
{% endblock %}